<%= render "mailers/app_mailer/mail_header" %>

  <tr>
    <td style="background-color:#ffffff;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px" align="center" valign="top">
      <table style="border-collapse:collapse;max-width:600px!important" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
          <td valign="top">
            <table style="min-width:100%;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
              <tr>
                <td style="padding-top:9px" valign="top">
                  <table style="max-width:100%;min-width:100%;border-collapse:collapse" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                      <td style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left" valign="top">
                        <h1 style="display:block;margin:0;padding:0;color:#202020;font-family:Helvetica;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left">
                          <span style="font-size:23px">Dear <%= @user.f_name %>,</span></h1>
                        <div>
                          <% if @user.driver? || @user.employee? %>
                            <p>Welcome to VAAYU! You are now ready to use the VAAYU app</p>
                            <p>Download the VAAYU app <span><a href=<%= @user.employee? ? Configurator.get('rider_app_android') : '' %>>Android</a> <a href=<%= @user.employee? ? Configurator.get('rider_app_ios') : '' %>>iOS</a><span></p>
                          <% else %>
                            <p>Welcome to VAAYU! You are now ready to use the platform!</p>
                            <p>Please reset a password using link at: <%= link_to 'Reset Password', edit_password_url(@user, :reset_password_token => @token) %>
                          <% end %>
                        </div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;- VAAYU Team</div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>

<%= render "mailers/app_mailer/mail_footer" %>
